.alumni {
    background-color: #192F59;
}

.alumni-part1 {
padding: 50px;
    height: 100vh;
    background-color: #192F59;
}

.alumni-part2 {
    height: 100vh;
    padding: 0;
    margin-top: 10px;
    background-color: #192F59;



}

.title {
    font-size: 76px;
    font-family: 'Newsreader', serif;
    color: rgb(255, 255, 255);
}

.paragraph {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-align: justify;    font-size: 36px;

}
.imgd{
    height: 100%;
    position: relative;
    margin-top: 90px;
  }
.imgg{
  height: 100%;
  position: relative;
  z-index: 30;
  margin-left: 50px;
  border: white solid 1px;

}
.imgd::after{
    content: "";
    width: 700px;
    height: 470px;
    background-color: rgba(240, 248, 255, 0);
    position: absolute;
    top: -20%;
    left: 0;
    z-index: 20;
    border: white solid 20px;
}