.navbar2 {
    height: 80px;
    box-shadow: 4px 1px 7px grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 40.01px;
    top: 0;
    position: sticky;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.678);
}